html {
    font-family: Open Sans,ui-sans-serif,system-ui,
        -apple-system,BlinkMacSystemFont,Segoe UI,
        Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,
        Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    background-color: beige;
}

#main-container {
    line-height: 1.6;
}

#div-1 {
    margin-left: 300px;
    margin-right: 300px;
    padding-top: 10px;
}

#div-1 a {
    margin-right: 10px;
}

#div-2 {
    margin-left: 300px;
    margin-right: 300px;
    padding-top: 0px;
}

#div-3 {
    margin-left: 300px;
    margin-right: 300px;
    padding-top: 0px;
}

#div-4 {
    margin-left: 300px;
    margin-right: 300px;
}